<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <title>요즘카페</title>

    <meta property="og:title" content="요즘카페" />
    <meta property="og:url" content="https://yozm.cafe/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/thumbnail-image.png" />
    <meta property="og:description" content="트렌디한 성수 지역의 카페를 손쉽게 탐색하는 서비스, 요즘카페" />
  </head>
  <body>
    <div id="root"></div>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>');
    </script>
  </body>
</html>
