server {
  listen 80;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;

  client_max_body_size 0;

  ssl_certificate /etc/letsencrypt/live/${DOMAIN}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/${DOMAIN}/privkey.pem;

  location / {
    root /usr/share/nginx/html;
    include /etc/nginx/mime.types;
    try_files $uri $uri/ /index.html;
  }

  location /api {
    proxy_pass http://172.17.0.1:8080;
  }
}
