version: "3.8"
services:
  mysql:
    platform: linux/arm64/v8
    image: library/mysql:8.0.33
    ports:
      - 20000:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yozm-cafe
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Seoul
    command: [ "mysqld", "--character-set-server=utf8mb4", "--collation-server=utf8mb4_general_ci" ]
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
